@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root
{
    --color-linear: linear-gradient(var(--color-brand-4), var(--color-brand-3), var(--color-brand-4), var(--color-brand-3));
    --color-text: #000000;
    --color-text-1: #ffffff;
    --color-brand-1: #ff4b5c;
    --color-brand-2: #4b79ff;
    --color-brand-3: #6A5ACD;
    --color-brand-4: #282158;
    --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1),
                  0px 1px 3px rgba(0, 0, 0, 0.08);
    --border-radius:20px;
    --padding-small: 1rem;
    --padding-medium: 1.5rem;
    --padding-large: 2rem;
    --logo-fontsize: 3rem;
    --fontsize-regular: 1rem;
    --fontsize-smedium: 1.2rem;
    --fontsize-large: 2rem;
}

*
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ccc;
}


.container
{
    min-height: 100vh;
    max-width: 1300px;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.nav
{
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo
{
    font-family: 'Great Vibes', cursive;
    font-size:var(--logo-fontsize);
    font-weight: 600;
    color: var(--color-logo);
    cursor: pointer;
}

.links
{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.links > div
{
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--color-font);
    cursor: pointer;
    transition: 0.3s;
}

.links > div:hover, .links > div > a:hover
{
    color: var(--color-highlight);
}

.links > div > span
{
    font-size: 1.2rem;
}

.links > div > span:hover
{
    color: var(--color-highlight);
}

.links > .message_box
{
    height: 50px;
    width: 50px;
    display: grid;
    place-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 1.2rem;
    color: var(--color-highlight);
    background-color: var(--color-font);
    box-shadow: 0 0 25px var(--color-background-2);
}

.links > .message_box > span > span
{
    padding-top: 0.5rem;
    color: var(--color-highlight);
}

.content
{
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
}

.image
{
    width: 100%;
    animation: item-animation 3s infinite;
    overflow: hidden;
}

.image img
{
    width: 100%;
    max-width: 800px;
    display: flex;
    margin: auto;
    transform: rotate(-20deg);
}


@keyframes item-animation
{
    0%
    {
        transform: translateY(0px);
    }
    70%
    {
        transform: translateY(15px);
    }
    100%
    {
        transform: translateY(0px);
    }
}

.header
{
    position: absolute;
    top: 7rem;
    left: 30%;
    transform: translateX(-50%);
}

.header > h1
{
    font-size: 3rem;
    font-weight: 600;
    color: var(--color-font);
}

.header > p
{
    text-align: right;
    color: var(--color-font);
    cursor: pointer;
    transition: 0.3s;
}

.header p:hover
{
    color: var(--color-special);
}

.featured_item
{
    position: absolute;
    transform: rotate(-90deg);
}

.featured_item h4{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: var(--color-font);
}

.featured_item p
{
    color: var(--color-font);
}

.contact
{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-font);
    transform: rotate(-90deg);
}

.contact span{
    height: 40px;
    width: 40px;
    display: grid;
    place-content: center;
    border-radius: 100%;
    font-size: 1.2rem;
    color: var(--color-highlight);
    background-color: var(--color-font);
    transform: rotate(90deg);
    box-shadow: 0 0 25px var(--color-background-2);
}

.footer
{
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.socials
{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.socials span
{
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-font);
    cursor: pointer;
    transition: 0.3s;
}

.socials span:hover
{
    color: var(--color-special);
}

.slides
{
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-font);
}

.slides span
{
    font-size: 1rem;
    font-weight: 400;
}

@media (width < 640px) {
    .links div:not(.shopping_cart)
    {
        display: none;
    }

    .header
    {
        top: 1rem;
    }

    .feature_item
    {
        left: -5rem;
    }

    .contact
    {
        right: -4rem;
    }
}