<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expert Reviews </title>
    <link rel="stylesheet" href="../css/reviews.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>

<body>
    <header>
        <h2>NicheNest</h2>
        <div>
            <button><a href="home_view.php" style="text-decoration: none;">Home</a></button>
            <button><a href="reviews.html" style="text-decoration: none;">Expert Reviews</a></button>
            <button><a href="shopping.html" style="text-decoration: none;">Personal Shopping</a></button>
        </div>
        <div class="user_container">
            <img src="../images/fillin_profile.png" alt="logo" width="50px" height="50px">
            <div class="profile_details">
                <p>Beryl Koram</p>
                <p>beryl.k@gmail.com</p>
            </div>
            <a href="profile_view.php" style="text-decoration: none;">
                <span class="material-symbols-outlined">keyboard_arrow_down</span>
            </a>
        </div>
    </header>
    
    <main>
        <div class="main_container">
            <div class="banner">
                <h5>Welcome to our Expert Reviews</h5>
                <p>Find high quality products and trusted reviews and rankings from our vetted Industry Experts</p>
            </div>
            <!-- Container for the listings under media -->
            <div class="item_container">
                <h2>Media</h2>
                <div class="item_list">
                    <span class="item_card">
                        <img src="../images/microphone.jpg" alt="" >
                        <h4>Microphone</h4>
                        <p>Filler</p>
                        <a href="rankings.html">See More</a>
                    </span>
    
                    <span class="item_card">
                        <img src="../images/camera.jpg" alt="" >
                        <h4>Cameras</h4>
                        <p>Filler</p>
                        <a href="">See More</a>
                    </span>
    
                    <span class="item_card">
                        <img src="../images/camera_tripod.jpg" alt="" >
                        <h4>Tripods and Stands</h4>
                        <p>Filler</p>
                        <a href="">See More</a>
                    </span>

                    <span class="item_card">
                        <img src="../images/microphone.jpg" alt="" >
                        <h4>Microphone</h4>
                        <p>Filler</p>
                        <a href="">See More</a>
                    </span>
    
                    <span class="item_card">
                        <img src="../images/camera.jpg" alt="" >
                        <h4>Cameras</h4>
                        <p>Filler</p>
                        <a href="">See More</a>
                    </span>
    
                    <span class="item_card">
                        <img src="../images/camera_tripod.jpg" alt="" >
                        <h4>Tripods and Stands</h4>
                        <p>Filler</p>
                        <a href="">See More</a>
                    </span>
                    <span class="item_card">
                        <img src="../images/microphone.jpg" alt="" >
                        <h4>Microphone</h4>
                        <p>Filler</p>
                        <a href="">See More</a>
                    </span>
    
                    <span class="item_card">
                        <img src="../images/camera.jpg" alt="" >
                        <h4>Cameras</h4>
                        <p>Filler</p>
                        <a href="">See More</a>
                    </span>
                       
                </div>
            </div>
    
            <!-- Container for the listings under entertainment -->
            <div class="item_container">
                <h2>Entertainment</h2>
                <div class="item_list">
                    <span class="item_card">
                        <img src="../images/microphone.jpg" alt="" >
                        <h4>Microphone</h4>
                        <p>Filler</p>
                        <a href="">See More</a>
                    </span>
    
                    <span class="item_card">
                        <img src="../images/camera.jpg" alt="" >
                        <h4>Cameras</h4>
                        <p>Filler</p>
                        <a href="">See More</a>
                    </span>
    
                    <span class="item_card">
                        <img src="../images/headphones.jpg" alt="" >
                        <h4>Headphones</h4>
                        <p>Filler</p>
                        <a href="">See More</a>
                    </span>
    
                    <span class="item_card">
                        <img src="../images/camera_tripod.jpg" alt="" >
                        <h4>Tripods and Stands</h4>
                        <p>Filler</p>
                        <a href="">See More</a>
                    </span>
    
                    <span class="item_card">
                        <img src="../images/headphones.jpg" alt="" >
                        <h4>Headphones</h4>
                        <p>Filler</p>
                        <a href="">See More</a>
                    </span>
                </div>
            </div>
    
            <!-- Container for the listings under artifacts -->
            <div class="item_container">
                <h2>Artifacts</h2>
                <div class="item_list">
                    <span class="item_card">
                        <img src="../images/microphone.jpg" alt="" >
                        <h4>Microphone</h4>
                        <p>Filler</p>
                        <a href="">See More</a>
                    </span>
    
                    <span class="item_card">
                        <img src="../images/camera.jpg" alt="" >
                        <h4>Cameras</h4>
                        <p>Filler</p>
                        <a href="">See More</a>
                    </span>
    
                    <span class="item_card">
                        <img src="../images/camera_tripod.jpg" alt="" >
                        <h4>Tripods and Stands</h4>
                        <p>Filler</p>
                        <a href="">See More</a>
                    </span>
    
                    <span class="item_card">
                        <img src="../images/headphones.jpg" alt="" >
                        <h4>Headphones</h4>
                        <p>Filler</p>
                        <a href="">See More</a>
                    </span>
                </div>
            </div>
    
            <!-- Container for the listings under food -->
            <div class="item_container">
                <h2>Food</h2>
                <div class="item_list">
    
                    <span class="item_card">
                        <img src="../images/camera.jpg" alt="" >
                        <h4>Cameras</h4>
                        <p>Filler</p>
                        <a href="">See More</a>
                    </span>
    
                    <span class="item_card">
                        <img src="../images/camera_tripod.jpg" alt="" >
                        <h4>Tripods and Stands</h4>
                        <p>Filler</p>
                        <a href="">See More</a>
                    </span>
    
                    <span class="item_card">
                        <img src="../images/headphones.jpg" alt="" >
                        <h4>Headphones</h4>
                        <p>Filler</p>
                        <a href="">See More</a>
                    </span>
    
                    <span class="item_card">
                        <img src="../images/microphone.jpg" alt="" >
                        <h4>Microphone</h4>
                        <p>Filler</p>
                        <a href="">See More</a>
                    </span>
    
                    <span class="item_card">
                        <img src="../images/camera.jpg" alt="" >
                        <h4>Cameras</h4>
                        <p>Filler</p>
                        <a href="">See More</a>
                    </span>

                </div>
            </div>
        </div>
    
        <div class="logout_container">
            <!-- Logout Link -->
            <ul>
                <li id="logout"> <a id="logout_link" href="logout.php"> <span class="material-symbols-outlined">logout</span> Logout </a> </li>
            </ul>
        </div>
    </main>
</body>

</html>