@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root
{
    --color-logo: #3457D5;
    --color-highlight: #2a52be;
    --color-special: #6495ED;
    --color-font: #ffffff;
    --color-background: #F0F8FF;
    --color-background-2:#011225;
    --color-header: #14141e;
    /* --color-gradient: linear-gradient(#25252b, var(--color-highlight), #25252b, var(--color-highlight)) */
    --catalogue-gap: 0.5rem;
    --shadow: 0 0 10px var(--color-highlight);
    --shadow-box: 0px 4px 6px rgba(0, 0, 0, 0.1),
                  0px 1px 3px rgba(0, 0, 0, 0.08);
    --border-radius:20px;
    --logo-fontsize: 3rem;
}

*
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    width: 100%;
    height: 100%;
}

body 
{
    display: grid;
    grid-template-rows: 8% 92%;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
    "header header"
    "main main";
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
}

/*  Page Header */
header
{
    grid-area: header;
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: var(--color-font);
    background: var(--color-background);
}

header > h2
{
    font-family: 'Great Vibes', cursive;
    font-size: var(--logo-fontsize);
    color: var(--color-logo);
}

header > div 
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header > div > button
{
    cursor: pointer;
    border: 2px solid var(--color-highlight);
    border-radius: 20px;
    background-color: var(--color-highlight);
    width: fit-content;
    height: 2.5rem;
    padding: 0 1rem;
    margin-right: 1rem;
    box-shadow: var(--shadow-box);
}

header > div > button > a
{
    color: var(--color-font);
}

header img
{
    cursor: pointer;
}

.user_container
{
    display: flex;
    flex-direction: row;
    align-items: start;
    color: var(--color-logo);
}

.profile_details
{
    display: flex;
    flex-direction: column;
    width: fit-content;
    color: var(--color-logo);
}

/* Main Page Container Styling */
main
{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.purchase_container
{
    display: flex;
    gap: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    justify-content: space-between;
    align-self: start;
}

.purchase_container h4, .purchase_container a
{
    display: inline;
    font-size: 1.2rem;
    font-weight: 500;
} 

.purchase_container p
{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: right;
}

.purchase_container a
{
    color: var(--color-highlight);
    text-decoration: none;
}

.purchase_container a:hover
{
    text-decoration: underline;
}

h3
{
    font-size: 3rem;
    color: var(--color-highlight);
    font-weight: 500;
    text-align: center;
}

.comments_container
{
    display: grid;
    position: relative;
    height: 80%;
    grid-auto-flow: row;
    grid-auto-rows: 23%;
    gap: var(--catalogue-gap);
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow-y: auto;
    scrollbar-width: none;
    overscroll-behavior-inline: contain;
}

.comments_container::-webkit-scrollbar 
{
    display: none; 
}

.comment_container
{
    border-radius: 10px;
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: var(--shadow-box);
}

.comment_header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.commentuser_container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.image_container img
{
    border-radius: 50%;
}

.user_details h6,  .user_details p, .review_score_container h6
{
    font-size: 0.8rem;
    font-weight: 500;
}

.review_score_container h6 p
{
    text-align: right;
}

.comment_content p
{
    font-size: 0.7rem;
    padding-top: 0.5rem;
    text-align: justify;
}


.logout_container
{
    grid-area: logout;
    cursor: pointer;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

#logout
{
    list-style: none;
    margin-left: 2rem;
}

#logout_link
{
    color: var(--color-highlight);
    font-size: 1.1rem;
    text-decoration: none;
}

#logout_link:hover
{
    text-decoration: underline;
}