<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/newhome.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="nav">
            <div class="logo">NicheNest</div>
            <div class="links">
                <div class="">
                    <a href="about_view.php" style="text-decoration: none;"> About Us<span class="material-symbols-outlined">arrow_drop_down</span></a>
                </div>
                <div class="">
                    Partners <span class="material-symbols-outlined"> arrow_drop_down</span>
                </div>
                <div class="">
                    Customers <span class="material-symbols-outlined"> arrow_drop_down</span>
                </div>
                <div class="">
                    <a href="login_view.php" style="text-decoration: none;"> Login <span class="material-symbols-outlined"> arrow_drop_down</span></a>
                </div>
                <div class="message_box"><span><span class="material-symbols-outlined">chat</span></span></div>
            </div>
        </div>
        <div class="content">
            <div class="image">
                <img src="../images/bag-removebg-preview.png" alt="bag">
            </div>
            <div class="header">
                <h1>All in one place</h1>
                <p>Media, Food and More</p>
            </div>
            <div class="featured_item">
                <h4>Featured</h4>
                <p>#1 Ranked Item</p>
            </div>
            <div class="contact">
                <span class="material-symbols-outlined"> call</span> +233 123 455 2135
            </div>
        </div>
        <div class="footer">
            <div class="socials">
                <span>Instagram</span>
                <span>Tiktok</span>
                <span>X(Twitter)</span>
            </div>
            <div class="slides">02 <span>/14</span></div>
        </div>
    </div>
</body>
<script src="../js/home.js"></script>
</html>