<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Reviews</title>
    <link rel="stylesheet" href="../css/comments.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<body>
    <header>
        <h2>NicheNest</h2>
        <div>
            <button><a href="home_view.php" style="text-decoration: none;">Home</a></button>
            <button><a href="reviews.html" style="text-decoration: none;">Expert Reviews</a></button>
            <button><a href="shopping.html" style="text-decoration: none;">Personal Shopping</a></button>
        </div>
        <div class="user_container">
            <img src="../images/fillin_profile.png" alt="logo" width="50px" height="50px">
            <div class="profile_details">
                <p>Beryl Koram</p>
                <p>beryl.k@gmail.com</p>
            </div>
            <a href="profile_view.php" style="text-decoration: none;">
                <span class="material-symbols-outlined">keyboard_arrow_down</span>
            </a>
        </div>
    </header>


    <main>
        <div class="purchase_container">
            <div>
                <h4>To purchase this item:</h4>
                <a href="">Click Here</a>
            </div>
            <div>
                <p>Overall Score</p>
                <p>4.8/5</p>   
            </div>
        </div>

        <h3>Reviews and Scores</h3>

        <div class="comments_container">

            <div class="comment_container">
                <div class="comment_header">
                    <div class="commentuser_container">
                        <div class="image_container">
                            <img src="../images/profile.jpeg" alt="user" width="30px">
                        </div>
                        <div class="user_details">
                            <h6>Thomas Brett</h6>
                            <p>20 days ago</p>
                        </div>
                    </div>
    
                    <div class="review_score_container">
                        <h6>Review Score: <p>4/5</p> </h6>
                    </div>
                </div>

                <div class="comment_content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ut repellendus doloremque amet aliquid, 
                        facere recusandae officiis maxime accusamus, a, sed numquam optio fugiat vero. Tempora maxime ducimus tempore, 
                        officiis exercitationem optio, architecto sit, iure harum consectetur nesciunt ad animi expedita esse ipsa et magnam 
                        asperiores illum praesentium consequatur incidunt? Nihil rem nam tenetur ab.
                    </p>
                </div>
            </div>

            <div class="comment_container">
                <div class="comment_header">
                    <div class="commentuser_container">
                        <div class="image_container">
                            <img src="../images/profile.jpeg" alt="user" width="30px">
                        </div>
                        <div class="user_details">
                            <h6>Thomas Brett</h6>
                            <p>20 days ago</p>
                        </div>
                    </div>
    
                    <div class="review_score_container">
                        <h6>Review Score: <p>4/5</p> </h6>
                    </div>
                </div>

                <div class="comment_content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ut repellendus doloremque amet aliquid, 
                        facere recusandae officiis maxime accusamus, a, sed numquam optio fugiat vero. Tempora maxime ducimus tempore, 
                        officiis exercitationem optio, architecto sit.
                    </p>
                </div>
            </div>

            <div class="comment_container">
                <div class="comment_header">
                    <div class="commentuser_container">
                        <div class="image_container">
                            <img src="../images/profile.jpeg" alt="user" width="30px">
                        </div>
                        <div class="user_details">
                            <h6>Thomas Brett</h6>
                            <p>20 days ago</p>
                        </div>
                    </div>
    
                    <div class="review_score_container">
                        <h6>Review Score: <p>4/5</p> </h6>
                    </div>
                </div>

                <div class="comment_content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ut repellendus doloremque amet aliquid, 
                        facere recusandae officiis maxime accusamus, a, sed numquam optio fugiat vero. Tempora maxime ducimus tempore, 
                        officiis exercitationem optio, architecto sit.
                    </p>
                </div>
            </div>

            <div class="comment_container">
                <div class="comment_header">
                    <div class="commentuser_container">
                        <div class="image_container">
                            <img src="../images/profile.jpeg" alt="user" width="30px">
                        </div>
                        <div class="user_details">
                            <h6>Thomas Brett</h6>
                            <p>20 days ago</p>
                        </div>
                    </div>
    
                    <div class="review_score_container">
                        <h6>Review Score: <p>4/5</p> </h6>
                    </div>
                </div>

                <div class="comment_content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ut repellendus doloremque amet aliquid, 
                        facere recusandae officiis maxime accusamus, a, sed numquam optio fugiat vero. Tempora maxime ducimus tempore, 
                        officiis exercitationem optio, architecto sit.
                    </p>
                </div>
            </div>

            <div class="comment_container">
                <div class="comment_header">
                    <div class="commentuser_container">
                        <div class="image_container">
                            <img src="../images/profile.jpeg" alt="user" width="30px">
                        </div>
                        <div class="user_details">
                            <h6>Thomas Brett</h6>
                            <p>20 days ago</p>
                        </div>
                    </div>
    
                    <div class="review_score_container">
                        <h6>Review Score: <p>4/5</p> </h6>
                    </div>
                </div>

                <div class="comment_content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ut repellendus doloremque amet aliquid, 
                        facere recusandae officiis maxime accusamus, a, sed numquam optio fugiat vero. Tempora maxime ducimus tempore, 
                        officiis exercitationem optio, architecto sit.
                    </p>
                </div>
            </div>

            <div class="comment_container">
                <div class="comment_header">
                    <div class="commentuser_container">
                        <div class="image_container">
                            <img src="../images/profile.jpeg" alt="user" width="30px">
                        </div>
                        <div class="user_details">
                            <h6>Thomas Brett</h6>
                            <p>20 days ago</p>
                        </div>
                    </div>
    
                    <div class="review_score_container">
                        <h6>Review Score: <p>4/5</p> </h6>
                    </div>
                </div>

                <div class="comment_content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ut repellendus doloremque amet aliquid, 
                        facere recusandae officiis maxime accusamus, a, sed numquam optio fugiat vero. Tempora maxime ducimus tempore, 
                        officiis exercitationem optio, architecto sit.
                    </p>
                </div>
            </div>

        </div>

        <div class="logout_container">
            <!-- Logout Link -->
            <ul>
                <li id="logout"> 
                    <a id="logout_link" href="logout.php"> 
                        <span class="material-symbols-outlined">logout</span> 
                        Logout 
                    </a> 
                </li>
            </ul>
        </div>
    </main>
    
</body>
</html>