<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="../css/welcome.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>

<body>
    <header>
        <h2>NicheNest</h2>
        <div>
            <button><a href="home.html" style="text-decoration: none;">Home</a></button>
            <button><a href="about.html" style="text-decoration: none;">About Us</a></button>
            <img src="../images/accounts.png" alt="logo" width="30px" height="30px">
        </div>
    </header>

    <div class="menu_container">
        <div class="container">
            <img src="../images/glass.png" alt="" width="120px" height="120px">
            <p>Learn More</p> 
        </div>
        <div class="menu_content">
            <div class="menuheader">
                <h4>Themes</h4>
                <span class="material-symbols-outlined">menu</span>
            </div>
            <ul>
                <li> <a href=""> <span class="material-symbols-outlined">flight</span> Travel </a> </li>
                <li> <a href=""> <span class="material-symbols-outlined">nightlife</span> Media </a> </li>
                <li> <a href=""> <span class="material-symbols-outlined">cardiology</span> Health </a> </li>
                <li> <a href=""> <span class="material-symbols-outlined">local_dining</span> Food </a> </li>
                <li id="logout"> <a href=""> <span class="material-symbols-outlined">logout</span> Logout </a> </li>
            </ul>
        </div>
    </div>

    <main>
        <div class="ratings_section">
            <div class="rankinglist">
                <div class="top">
                    <p> 6 September 2024 </p>
                    <spaz id="trophy" class="material-symbols-outlined">emoji_events</span>
                </div>
                <h2> Weekly Ranking List </h2>
                <div class="tag">
                    <p>Prada</p>
                    <p>Canon</p>
                    <p>Hilton</p>
                </div>  
                <button>Details</button>
            </div>

            <div class="expertreviews">
                <div class="top">
                    <p> 6 September 2024 </p>
                    <span id="rating" class="material-symbols-outlined">reviews</span>
                </div>
                <h2> Expert Ratings </h2>
                <div class="tag">
                    <p>Content Creator</p>
                    <p>Entrepreneur</p>
                    <p>Restaurateur</p>
                </div>  
                <button>Details</button>
            </div>
        </div>

        <div class="personalshopping_section">
            <div class="shopperchat">
                Chat with Shoppers
            </div>
            <div class="curatedlist">
                Curated List
            </div>
        </div>
    </main>
</body>
</html>